.git
.gitignore
node_modules
**/node_modules
dist
**/dist
.env
.env.*
**/.env
**/.env.*
.dev.vars
.dev.vars.*
**/.dev.vars
**/.dev.vars.*
.wrangler
**/.wrangler
.vercel
**/.vercel
coverage
**/coverage
design
*.log
**/*.log
